<main class="main">
 
  
   
    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          
          <p>reservation DATA</p>
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img src="assets/img/imgg/values-1.png" class="img-fluid" alt="">
              <h3>price</h3>
              <h2><span id="price">5$</span></h2>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/img/imgg/values-2.png" class="img-fluid" alt="">
              <h3>place ID</h3>
              <h2><span id="place ID"> B15 : 26</span></h2>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="assets/img/imgg/values-3.png" class="img-fluid" alt="">
              <h3>time passed </h3>
              <h2><span id="tps">10 min</span> </h2>
            </div>
          </div>

        </div>

        <button class="pay"><a [routerLink]="['/paiement']">Payement</a>   </button>

      </div>

    </section><!-- End Values Section -->

    <router-outlet></router-outlet>

   

   

   

   

    

    

    

    

    

</main>
