<main>
  <section id="hero" class="hero d-flex align-items-center">
  
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <div class="spacer"></div>
          <h1 data-aos="fade-up"><span class="first">Save your time with our parking app</span></h1>
          <h2 data-aos="fade-up" data-aos-delay="400">always confused and unhapy to search for available parkings and waste time. With our parking app you will save your time and you can reserve your place in the nearest parking available with high security</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a [routerLink]="['/login']" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
  
        <div id="first" class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="/assets/img/imgg/front.jpg" class="img-fluid" alt="">
        </div>


      </div>
    </div>
  
  </section><!-- End Hero -->
  
  <main id="main">
   
    <!-- ======= Values Section ======= -->
    <section id="values" class="values">
  
      <div class="container" data-aos="fade-up">
  
        <header class="section-header">
          <h2>Our Values</h2>
          <p>reserve and pay on ligne</p>
        </header>
  
        <div class="row">
  
          <div class="col-lg-4">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img src="/assets/img/imgg/values-3.png" class="img-fluid" alt="">
              <h3>save your time.</h3>
              <p>this app will guide you to close places to park your car in huge parkings</p>
            </div>
          </div>
  
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="/assets/img/imgg/hero-img.png" class="img-fluid" alt="">
              <h3>avoid waiting in queue to pay</h3>
              <p>with our parking app you can reserve your place and pay onligne and imediately</p>
            </div>
          </div>
  
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="/assets/img/imgg/features-3.png" class="img-fluid" alt="">
              <h3>high security and positionnig system</h3>
              <p>the eparking is secure using the latest technologies also this app will help you to park using automatic positionning</p>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </section><!-- End Values Section -->
    <script src="/assets/vend/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/assets/vend/aos/aos.js"></script>
  <script src="/assets/vend/php-email-form/validate.js"></script>
  <script src="/assets/vend/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vend/purecounter/purecounter.js"></script>
  <script src="/assets/vend/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vend/glightbox/js/glightbox.min.js"></script>
</main>
